$mainColor: #05c3b6;
$darkBackground: #212121;
$lighDark: #424242;
$baseTextColor: #161338;
$baseTextColorLight: #fff;
$green: #67d5b5;
$red: #ee6e73;
$navbarHeight: 56px;
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;
$break-small: 600px;
$break-modal: 750px;
$break-modal-cluster: 992px;
$break-medium: 994px;
$break-large: 1200px;
$break-very-large: 1500px;
$break-card: 450px;
$break-card-small: 370px;
